src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a6da58a2-fb95-479a-9e26-e6e95305235e" basePath="/worldtime" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="4c5c12e1-7f20-46a2-b1d4-176ddfd3e1e2" basePath="/api" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="testFlow" doc:id="1db525c7-dd01-4acd-a5e6-6b05f25e3cb8" >
		<http:listener doc:name="Listener" doc:id="1fc898b1-3fdc-436d-9ac4-6080bafbfddf" config-ref="HTTP_Listener_config" path="/{region}/{city}" allowedMethods="GET"/>
		<flow-ref doc:name="Flow Reference" doc:id="388fa836-ae82-4dc2-810d-4e514ff6ba8c" name="requestor"/>
	</flow>
	<sub-flow name="requestor" doc:id="75723d2d-7d2d-430b-b407-050b28046345" >
		<http:request method="GET" doc:name="Request" doc:id="3b896c59-94d5-4210-9a56-a26f26cee7d0" config-ref="HTTP_Request_configuration" path="/timezone/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="cb1b828f-67dc-4d9b-a588-058a38ff5027" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
